@font-face {
    font-family: Work Sans Light;
    src: url('../fonts/WorkSans-Light.ttf');
}
@font-face {
    font-family: Work Sans xLight;
    src: url('../fonts/WorkSans-ExtraLight.ttf');
}
@font-face {
    font-family: Work Sans Regular;
    src: url('../fonts/WorkSans-Regular.ttf');
}
.navigation-wrapper{
  width:100%;
  margin-bottom: 50px;
}
.topnav {
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    background-color: white; 
    font-family: 'Work Sans Light', sans-serif;
    height: 60px;
    line-height: 60px;
    margin: 0 auto !important;
    width:90%;
}
.topnav p {
  float: left;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  transition: transform .2s;
}
.topnav-right {
  float: right;
}
a{
  margin-left: 25px !important;
  margin-right: 25px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: normal !important;
  text-decoration: none !important;
  color:rgb(54, 54, 54) !important;
}