/* This is CSS influences the App.js */
*{
  margin: 0 !important;
  padding: 0 !important;
}
body {background-color: white;
}
.startscreen {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center !important;
}
h1{
  text-align: center !important; 
}
.wrapper{
  margin-top:50px !important;
}
.button{
  display: block;
  width: 300px;
  height: 44px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #5a5a5a;
  border: 2px solid #8f8f8f;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  background: linear-gradient(to left, white 50%, rgb(240, 69, 69) 50%) right; background-size: 200%; transition: .5s ease-out;
}
.button:hover{
  background-position: left;
  color:white;
  border: 0px solid #8f8f8f;
}
